x-spring-base: &spring-base
  build: ./sd
  network_mode: host
  depends_on:
    kafka:
      condition: service_healthy
    mysql:
      condition: service_healthy
  environment:
    SPRING_DATASOURCE_URL: jdbc:mysql://127.0.0.1:3306/db_sd
    SPRING_DATASOURCE_USERNAME: root
    SPRING_DATASOURCE_PASSWORD: root
    SPRING_KAFKA_BOOTSTRAP_SERVERS: 127.0.0.1:9092

services:
  app1:
    <<: *spring-base
    container_name: spring-app1
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://127.0.0.1:3306/db_sd
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_KAFKA_BOOTSTRAP_SERVERS: 127.0.0.1:9092
      SPRING_KAFKA_CONSUMER_GROUP_ID: group-app1
      SERVER_PORT: 8080
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://127.0.0.1:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  app2:
    <<: *spring-base
    container_name: spring-app2
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://127.0.0.1:3306/db_sd
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_KAFKA_BOOTSTRAP_SERVERS: 127.0.0.1:9092
      SPRING_KAFKA_CONSUMER_GROUP_ID: group-app2
      SERVER_PORT: 8081
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://127.0.0.1:8081/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  app3:
    <<: *spring-base
    container_name: spring-app3
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://127.0.0.1:3306/db_sd
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      SPRING_KAFKA_BOOTSTRAP_SERVERS: 127.0.0.1:9092
      SPRING_KAFKA_CONSUMER_GROUP_ID: group-app3
      SERVER_PORT: 8082
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://127.0.0.1:8082/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    network_mode: host
    command: --bind-address=0.0.0.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db_sd
      MYSQL_ROOT_HOST: '%'
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1"]
      interval: 5s
      timeout: 5s
      retries: 5

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    network_mode: host
    volumes:
      - ./zookeeper-custom.properties:/etc/kafka/zookeeper.properties
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_ADMIN_SERVER_PORT: 8084
    healthcheck:
      test: ["CMD", "bash", "-c", "cub zk-ready 127.0.0.1:2181 30"]
      interval: 5s
      timeout: 5s
      retries: 5

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    network_mode: host
    depends_on:
      zookeeper:
        condition: service_healthy
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 127.0.0.1:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://127.0.0.1:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_CREATE_TOPICS: "chat-messages:1:1"
    healthcheck:
      test: [ "CMD", "kafka-broker-api-versions", "--bootstrap-server", "127.0.0.1:9092" ]
      interval: 10s
      timeout: 5s
      retries: 10

  akhq:
    image: tchiotludo/akhq
    container_name: akhq
    network_mode: host
    environment:
      MICRONAUT_SERVER_PORT: 8085
    depends_on:
      kafka:
        condition: service_healthy
    volumes:
      - ./application.yml:/app/application.yml
    restart: always

  nginx:
    image: nginx:alpine
    container_name: nginx
    network_mode: host
    depends_on:
      app1:
        condition: service_healthy
      app2:
        condition: service_healthy
      app3:
        condition: service_healthy
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    restart: always

volumes:
  mysql_data:
